.wrapper {
    width: 100%;
    background-color: grey;
}

.navLink {
    text-decoration: none;
    color: white;
}



title a,
.title a:visited,
.title a:active,
.title a:link {
    color: white;
    text-decoration: none;
}



.navItem a,
.navItem a:visited,
.navItem a:active,
.navItem a:link {
    color: white;
    text-decoration: none;
}

    .navItem a:hover {
        color: #797171;
        text-decoration: none;
    }

.title a:hover {
    color: #797171;
    text-decoration: none;
}

.wrapper .navItem {
    font-size: 1.2rem;
    color: white;
}



.wrapper .title {
    font-size: 1.8rem;
    font-weight: 500;
    color: white;
}

.wrapper .header {
    width: 100%;
    align-items: center;
    padding: 1.2rem 0 1.2rem 0;
    background-color: var(--cl-theme);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.wrapper .footer {
    width: 100%;
    padding: 1.2rem 0 1.2rem 0;
    font-size: 1.2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--cl-theme);
    text-align: center;
    font-weight: 500;
    color: white;
}

.wrapper .footerText1 {
    margin-right: 10rem;
}

@media (max-width: 575.98px) {

    .wrapper .header {
        display: none;
    }

    .wrapper .footer {
        display: none;
    }
}
