.input-password {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

    .input-password .label {
        width: 33%;
        font-size: calc(1.5rem * var(--font-multiplier));
        font-weight: 400;
    }

    .input-password input {
        border: 1.5px solid var(--ui-dark);
        font-size: calc(1.5rem * var(--font-multiplier));
        outline: none;
        padding: calc(0.5rem * var(--space-multiplier));
    }

        .input-password input:active,
        .input-password input:focus {
            border: 1.5px solid var(--ui-primary);
        }

    .input-password.x1 input {
        width: 100%;
    }

    .input-password.x2 input {
        width: 66%;
    }

    .input-password.error input {
        border: 1.5px solid var(--ui-error);
    }